<%@ page language="java" contentType="text/html; charset=utf-8"
	pageEncoding="utf-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@ page isELIgnored="false" %>

<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" href="<c:url value="inc/css/bootstrap.min.css"/>" rel="stylesheet"/>
<link type="text/css" href="<c:url value="inc/css/datepicker3.css"/>" rel="stylesheet"/>
<link type="text/css" href="<c:url value="inc/css/material.min.css"/>" rel="stylesheet"/>
<link type="text/css" href="<c:url value="inc/css/ripples.min.css"/>" rel="stylesheet"/>
<link type="text/css" href="<c:url value="inc/css/theme.css"/>" rel="stylesheet"/>
<link type="text/css" href="<c:url value="inc/css/bootstrap-timepicker.min.css"/>" rel="stylesheet"/>

<title>${titre}</title>
</head>
<body>